<html>
    <head>
        <title>Kiosk-Customer Checkout</title>
        <meta name="layout" content="home">
    </head>
    <body>
        <div class="panel panel-default">
            <div class="panel-heading">Order Items</div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <tr>
                        <th></th><th></th><th></th>
                    </tr>
                    <g:each>
                        <tr>
                            <td></td><td></td><td></td>
                        </tr>
                    </g:each>
                </table>
            </div>
        </div>
    </body>
</html>