<!doctype html>
<html>
    <head>
        <title></title>
        <asset:stylesheet
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#adminNavBar">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">Kiosk</a>
                </div>

                <!-- begin nav links -->
                <div class="collapse navbar-collapse" id="adminNavBar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><g:link controller="person" action="product">Products</g:link></li>
                        <li><g:link controller="person" action="index">Staff</g:link></li>
                        <li><g:link controller="person" action="logout">Logout</g:link></li>
                    </ul>
                </div>
            </div>
        </nav><!-- end of navbar-->
        <div class="container">
            <g:layoutBody></g:layoutBody>
        </div>

    </body>
</html>