<form method="post" role="form" ng-submit="createCustomer()">
    <div class="panel-heading">New Customer</div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2" for="firstName">First Name</label>
                <div class="col-sm-10">
                    <input class="text-input" ng-model="customer.firstName" name="firstName"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="lastName">Last Name</label>
                <div class="col-sm-10">
                    <input class="text-input" ng-model="customer.lastName" name="lastName"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="Phone">Phone</label>
                <div class="col-sm-10">
                    <input class="text-input" ng-model="customer.phone" name="phone"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email</label>
                <div class="col-sm-10">
                    <input class="text-input" ng-model="customer.email" name="email"/>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary btn-sm">Save</button>
                <a href="#/customer" class="btn btn-warning btn-sm">Cancel</a>
            </div>
        </div>
    </div>
</form>
