<div class="panel-heading">Update Customer</div>
<div class="panel-body">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2" for="fname">FirstName</label>
            <div class="col-sm-10">
                <input class="text-input" ng-model="customer.firstName" name="fname"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="lname">LirstName</label>
            <div class="col-sm-10">
                <input class="text-input" ng-model="customer.lastName" name="lname"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="Phone">Phone</label>
            <div class="col-sm-10">
                <input class="text-input" ng-model="customer.phone" name="phone"/>
            </div>
        </div>

        </div>
    </div>
</div>
<div class="panel-footer">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" ng-click="updateCustomer()" class="btn btn-primary btn-sm">Save</button>
            <a href="#/customer" class="btn btn-warning btn-sm">Cancel</a>
        </div>
    </div>
</div>