<div class="panel-heading">Customers</div>
<div class="panel-body">
    <table class="table table-bordered">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Total Points</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="customer in customers">
            <td>{{customer.firstName}}</td>
            <td>{{customer.lastName}}</td>
            <td>{{customer.phone}}</td>
            <td>{{customer.totalPoints}}</td>
            <td><a href="#/customer/edit/{{customer.id}}" class="btn btn-info btn-sm">Edit</a> | <a class="btn btn-danger btn-sm" ng-click="deleteCustomer(customer)">Delete</a></td>
        </tr>

    </table>
</div>
<div class="panel-footer">
    <a href="#/customer/new" class="btn btn-primary btn-block">New Customer</a>
</div>
