<div class="panel-heading">Update Staff</div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="lastname" class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" name="lastname" ng-model="staff.lastName"/>
                </div>
            </div>
            <div class="form-group">
                <label for="firstname" class="col-sm-2 control-label">First Name</label>
                <div class="col-sm-10">
                    <input type="text" name="firstname" ng-model="staff.firstName"/>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" name="email" ng-model="staff.email"/>
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="col-sm-2 control-label">Phone</label>
                <div class="col-sm-10">
                    <input type="text" name="phone" />
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-1">
                <button type="submit" class="btn btn-sm btn-info" ng-click="updateStaff()">
                    Update
                </button>
            </div>
            <div class="col-sm-2">
                <a href="#/staff" class="btn btn-sm btn-warning">Cancel</a>
            </div>
        </div>

    </div>