<div class="panel-heading">Staff</div>
<div class="panel-body">
    <table class="table table-bordered table-responsive">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="staff in staffs">
            <td>{{staff.fname}}</td>
            <td>{{staff.lname}}</td>
            <td>{{staff.phone}}</td>
            <td>{{staff.email}}</td>
            <td><a href="#/staff/edit/{{staff.id}}" class="btn btn-info">Edit</a> | <a ng-click="deleteStaff(staff)" class="btn btn-danger">Delete</a></td>
        </tr>
    </table>
</div>
<div class="panel-footer">
    <a href="#/staff/new" class="btn btn-primary btn-sm btn-block">New Staff</a>
</div>