<div class="panel-heading" ng-controller="ProductController">Edit Product</div>
<div class="panel-body">
    <fieldset>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="name">Name</label>
                <div class="col-sm-10">
                    <input type="text" name="name" ng-model="product.name" ng-required="true" class="text-input"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="sku">SKU</label>
                <div class="col-sm-10">
                    <input type="text" name="sku" ng-model="product.sku" ng-required="true" class="text-input"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="price">Price</label>
                <div class="col-sm-10">
                    <input type="text" name="price" ng-model="product.price" ng-required="true" class="text-input"/>
                </div>
            </div>
        </div>
    </fieldset>
</div>
<div class="footer">
    <button ng-click="updateProduct()" type="submit" class="btn btn-primary btn-sm btn-block">
        <strong>Update</strong>
    </button>
</div>