<div class="panel-heading">
    Product List
</div>
<div class="panel-body" >
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>SKU</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="product in products">
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.sku}}</td>
            <td><a href="#/product/edit/{{product.id}}" class="btn btn-sm btn-primary">Edit</a>  |  <a ng-click="deleteProduct(product)" class="btn btn-sm btn-danger">Delete</a></td>
        </tr>
    </table>
</div>
<div class="panel-footer">
    <a class="btn btn-sm btn-primary btn-block" href="#/product/new">New Product</a>
</div>